body{
	margin: 0;
	padding:0;
}
header {
	width:100%; 
	overflow:hidden;
	background: #df1159;;
	font-family: 'arial';
	font-weight: bold;
}

header:before, header:after,
footer:before, footer:after,
.contenedor:before, .contenedor:after{
	content:"";
	display: table;
}

header:after, footer:after, .contenedor:after{
	clear: both;
}

.contenedor {
	width:900px; 
	margin: 0 auto;
	overflow:hidden;
}

h1, ul{
	margin: 0;
}

header .logo {
	color:#f2f2f2;
	float:left;
	margin-top: 20px;
}
 
header nav {
	float:right;
	line-height:100px;
}
 
nav ul li{
	display: inline-block;
}

header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	margin-left: 23px;
	line-height:normal;
	font-size:17px;
}

.custom-select{
	font-size: 17px;
	margin-left: 25px;
	border: 2px solid white;
	padding: 3px;
	background-color: #df1159;
	color: white;
	outline: none;
	font-family: 'arial';
	font-weight: bold;
}

.slider img{
	width: 100%;
	height: auto;
}

.select {
  border: 1px solid #ccc;
  width: 400px;
  padding: 10px;
  margin: 15px auto 10px;
  	font-family: 'arial';
	font-weight: bold;
  overflow: hidden;
  background: #df1159 url("http://www.csslab.cl/ejemplos/select/arrowdown.gif") no-repeat 90% center;
}
.select select {
    padding: 5px 8px;
    color: black;
    font-weight: bold;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h2{
	text-align: center;
	color: #df1159;
	font-family: cursive;
	margin-bottom: 0;
}

.des{
	text-align: center;
}

.block-article{

	/*float:left;*/
	display:inline-table;
	width:314px;
	height:190px;
	margin-right:10px;
	margin-bottom:8px
	}
.img-holder{
	position: relative;
	background-color: #000;
	line-height: 0;
}

.img-holder p{
	opacity: 0;
	position: absolute;
	font-family: helvetica, cursive;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: bold;
	text-align: center;
	background-color: rgba(255,255,255,.8);
	margin: 0;
	font-size: 20px;
	line-height: 200px;
	transform:scale(0);
	transition:opacity .5s, transform .3s;
}

.img-holder:hover p{
	opacity: 1;
	transform:scale(1);
}

.cols{
	text-align: center;
}

.col{

	/*float:left;*/
	display:inline-table;
	width:314px;
	height:190px;
	margin-right:10px;
	margin-bottom:8px;
	margin-top:40px;
}


.col p{
	color: black;
	font-size: 18px;
	font-family: arial;
}

.mapa img{
	width: 100%;
	pa
}

footer{
	margin-top: 30px;
	padding: 30px;
	background: #df1159;
}